body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #afc5d4;
}

.heart {
  position: absolute;
  margin: auto;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: fuchsia;
  height: 175px;
  width: 175px;
  transform: rotate(-45deg);
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}


  background-color: fuchsia;
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  height: 175px;
  width: 175px;
  top: 0px;
  left: 87.5px;

  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.heart::before {
  background-color: fuchsia;
  content: "";
  /* If we don't put any content, this won't show up because we're using ::before */

  position: absolute;
  z-index: -1;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  top: -87.5px;
  left: 0px;

  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #ef476f;
  }
  25% {
    background-color: #ffd166;
  }
  50% {
    background-color: #06d6a0;
  }
  75% {
    background-color: #118ab2;
  }
  100% {
    background-color: #073b4c;
  }
}

#infinity {
  width: 300px;
  height: 180px;
  position: relative;
}

#infinity:before,
#infinity:after {
  content: "";
  width: 95px;
  height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  border: 20px solid rgb(255, 38, 0);
  border-radius: 70px 70px 0 70px;
  transform: rotate(-45deg);

  animation-name: line;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#infinity:after {
  left: auto;
  right: 0;
  border-radius: 70ps 70ps 70ps 0;
  transform: rotate(135deg);

  animation-name: line;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes line {
  0% {
    background-color: #71e23088;
  }
  25% {
    background-color: #91658e8e;
  }
  50% {
    background-color: #a30c3994;
  }
  75% {
    background-color: #c0741e94;
  }
  100% {
    background-color: #f0ec1698;
  }
}
